.block-name-style {
position: relative;
color: #8a8a8b;
font-size: 18px;
}
.program-logo-container {
margin: 0;
}
.block-name-style::before {
content: "";
width: 0;
height: 2px;
border-radius: 2px;
background-color: var(--primary);
position: absolute;
bottom: -0.15rem;
left: 0;
transition: width 0.4s;
}
.block-name-style:hover::before {
width: 100%;
}
.program-name-style {
line-height: 1;
position: relative;
margin-top: 1%;
color: #8a8a8b;
}
.program-name-style::before {
content: "";
width: 0;
height: 2px;
border-radius: 2px;
background-color: var(--primary);
position: absolute;
bottom: -0.15rem;
transition: width 0.4s;
}
.program-name-style:hover::before {
width: 100%;
}
.program-checkbox {
margin-top: 3%;
cursor: pointer;
}
.program-checkbox:hover {
text-decoration: underline;
}
.buttons-container {
margin: 1%;
}
.con {
min-height: 90%;
}
.checkbox-block input[type="checkbox"] {
width: 0rem;
height: 0rem;
font-weight: normal;
}
.checkbox-block label {
display: inline-block;
vertical-align: middle;
cursor: pointer;
justify-content: flex-end;
font-weight: normal;
margin-bottom: 5px;
}
.program-checkbox {
margin-left: 15px;
width: 0rem;
height: 0rem;
background: var(--greyLight-2);
}
.checkbox-block input[type="checkbox"]:checked + label,
.program-checkbox:checked + label {
color: #4b4b4b;
font-weight: bold;
}