html {
box-sizing: border-box;
font-size: 100%;
background: var(--greyLight-1);
overflow-y: hidden;
}
body {
transition: all 0.5s ease;
transition: background 0.5s ease;
width: 1200px;
height: 1250px;
}
::-webkit-scrollbar {
width: 0px;
}
:root {
--primary-light: #8abdff;
--primary: #6d5dfc;
--primary-dark: #5b0eeb;
--white: #ffffff;
--greyLight-1: #f1f1f1;
--darkLight-1: #32383c;
--greyLight-2: #c8d0e7;
--greyLight-3: #bec8e4;
--greyDark: #5a6378;
}
*,
*::before,
*::after {
margin: 0;
padding: 0;
}
.checkbox-block {
display: inline-block;
min-width: 185px;
width: 10%;
height: 200px;
box-shadow: 6px 6px 12px #c9c9c9, -6px -6px 12px #fff;
border-radius: 1rem;
margin: 1%;
text-align: left;
padding: 10px;
user-select: none;
}
.blocks-container {
justify-content: center;
display: flex;
flex-wrap: wrap;
}
.buttons-container {
justify-content: center;
display: flex;
}
.con {
display: flex;
width: 100%;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: "Poppins", sans-serif;
background: var(--greyLight-1);
transition: all 0.5s ease;
transition: background 0.5s ease;
}
.com {
margin-top: 40px;
display: fixed;
padding: 1rem;
grid-template-rows: repeat(autofit, -webkit-min-content);
grid-template-rows: repeat(autofit, min-content);
align-items: center;
}
.coms {
  display: fixed;
  margin-bottom: 23px;
  grid-template-rows: repeat(autofit, -webkit-min-content);
  grid-template-rows: repeat(autofit, min-content);
  align-items: center;
  }